<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logolaunch"
        android:label="Meteo&amp;Me"
        android:roundIcon="@drawable/logolaunch"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppMeteo"
        tools:targetApi="31">

        <!-- SplashActivity avec INTENT-FILTER -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- MainActivity normale, sans intent-filter -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity android:name=".MeteoActivity"
            android:exported="false" />
    </application>

</manifest>